params {
    // Define project parameters
    project_name = "test"
    cohort_id = "test"

    // Define project output directory
    outdir = "/scratch/mamana/varcall-dsl2/results"
    
    // Define build version
    build = "b38"
    
    // Limit to chromosome 20 but use full reference
    chromosomes = "chr20"
    
    // Disable reads trimming
    trim_reads = false
    
    // Set necessary chromosome arrays
    b38_chroms_all = ['chr20']
    b38_chroms_auto = ['chr20']
    chroms_par = []
    mt = ''
    
    // Base directory for references
    resources_dir = "/scratch/module5/references/hg38"
    
    // Use chr20 specific references
    reference_files {
        ref = "${resources_dir}/Homo_sapiens_assembly38.fasta"
        dbsnp = "${resources_dir}/dbsnp__Homo_sapiens_assembly38.dbsnp138.vcf.gz"
        known_indels_1 = "${resources_dir}/known_indels__Homo_sapiens_assembly38.known_indels.vcf.gz"
        known_indels_2 = "${resources_dir}/mills__Mills_and_1000G_gold_standard.indels.hg38.vcf.gz"
        hapmap = "${resources_dir}/hapmap__hapmap_3.3.hg38.vcf.gz"
        omni = "${resources_dir}/omni__1000G_omni2.5.hg38.vcf.gz"
        phase1_snps = "${resources_dir}/phase1_snps__1000G_phase1.snps.high_confidence.hg38.vcf.gz"
        golden_indels = "${resources_dir}/golden_indels__Mills_and_1000G_gold_standard.indels.hg38.vcf.gz"
    }
    
    // Resource settings
    max_cpus = 4
    max_memory = 16.GB        
    max_time = 24.h
    
    // System resource check settings
    system_resource_check = false
    enforce_resource_check = true
    display_resource_check = true

    // Singularity configuration
    singularity_cache = "/scratch/$USER/.singularity/cache"
    singularity_tmpdir = "/scratch/$USER/singularity_tmp"
}

// Process resources
process {
    // Default settings
    cpus = 5
    memory = 8.GB
    time = 72.h

    withLabel:small_mem {
        cpus = 1
        memory = 4.GB
    }
    withLabel:medium_mem {
        cpus = 2
        memory = 8.GB
    }
    withLabel:large_mem {
        cpus = 5
        memory = 16.GB
    }
    withLabel:extra_large_mem {
        cpus = 8
        memory = 16.GB
    }
    withLabel:bwa_samtools {
        cpus = 4
        memory = 16.GB
    }
    withName:run_genomics_db_import_update {
        cpus = 4
        memory = 16.GB
    }
    withName:run_combine_gvcfs {
        cpus = 4
        memory = 16.GB
    }
    withLabel:gatk_haplotypecaller {
        cpus = 4
        memory = 32.GB
    }
}

singularity {
    enabled = true
    autoMounts = true
    pullTimeout = '60m'
    cacheDir = "${params.singularity_cache}"
    runOptions = '--bind /users/$USER --bind /scratch'
}